<div class="flex flex-col flex-auto min-w-0">

    <!-- header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 pb-4 sm:pt-2 sm:pb-6 sm:px-15 bg-default dark:bg-transparent">
        <div class="flex-1 min-w-0">
            <div>
                <div class="-ml-4">
                    <button mat-button [color]="'primary'" (click)="onBack()">
                        <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                        <span class="ml-2">Back</span>
                    </button>
                </div>
            </div>
            <!-- Title -->
            <div *ngIf="isAddShow" class="mt-0">
                <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    New Vehicle
                </h2>
            </div>
            <div *ngIf="isEditShow || isViewShow" class="mt-0">
                <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                    Detail of Vehicle "{{ vehiclePlate }}"
                </h2>
            </div>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto -mt-2 p-4 sm:p-6 shadow bg-card">
        <div class="flex flex-col flex-auto overflow-x-auto">
            <div class="flex flex-col flex-auto overflow-hidden">
                <!-- CONTENT GOES HERE -->
                <form class="space-y-3" [formGroup]="supportForm" #supportNgForm="ngForm">
                    <div class="grid grid-cols-1 sm:grid-cols-1 gap-4 md:gap-6">
                        <div class="flex sm:flex-row items-center justify-between">
                            <div class="flex fuse-mat-no-subscript w-50 sans-semibold">
                                <span class="mx-auto mr-2">Vehicle Code:</span>
                            </div>
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <input matInput [formControlName]="'code'" />
                            </mat-form-field>
                        </div>

                    </div>
                    <div class="grid grid-cols-1 sm:grid-cols-1 gap-4 md:gap-6">
                        <div class="flex sm:flex-row items-center justify-between">
                            <div class="flex fuse-mat-no-subscript w-50 sans-semibold">
                                <span class="mx-auto mr-4">Vehicle Type:</span>
                            </div>
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-select  [formControlName]="'type'"  floatlLabel="never" placeholder="Choose Vehicle Type">
                                    <mat-option *ngFor="let option of vehicleTypeList" [value]="option.code">
                                        {{option.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mt-0 grid grid-cols-1 sm:grid-cols-1 gap-4 md:gap-6">
                        <div class="flex sm:flex-row items-center justify-between">
                            <div class="flex fuse-mat-no-subscript w-50 sans-semibold">
                                <span class="mx-auto mr-2">Number Plate:</span>
                            </div>
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <input matInput [formControlName]="'numberplate'" 
                                placeholder="Your vehicle's number plate..."/>
                            </mat-form-field>
                        </div>
                    </div>
                    
                    <div *ngIf="!isAddShow" class="mt-0 grid grid-cols-1 sm:grid-cols-1 gap-4 md:gap-6">
                        <div class="flex sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                            <div class="flex fuse-mat-no-subscript sans-semibold w-50">
                                <span class="mx-auto mr-4">Status: </span>
                            </div>
                            <mat-form-field class="fuse-mat-no-subscript w-full">
                                <mat-select [formControlName]="'status'">
                                    <mat-option [value]="'active'">Active</mat-option>
                                    <mat-option [value]="'not-active'">Inactive</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="mt-8 mb-10 border-t"></div>
                    <div class="container mx-auto">
                        <div class="mt-8 grid grid-cols-1 sm:grid-cols-6 gap-4 md:gap-6">
                            <div *ngIf="!isViewShow" class="w-full" id="clear">
                                <button mat-stroked-button color="primary" class="w-full" (click)="clearButton()">
                                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:minus-circle'"></mat-icon>
                                    Clear
                                </button>
                            </div>
                            <div *ngIf="isAddShow" class="w-full" id="add">
                                <button mat-stroked-button color="primary" class="w-full" (click)="createVehicle()">
                                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:save'"></mat-icon>
                                    Add
                                </button>
                            </div>
                            <div *ngIf="isEditShow" class="w-full" id="edit">
                                <button mat-stroked-button color="primary" class="w-full" (click)="updateVehicle()">
                                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:save'"></mat-icon>
                                    Edit
                                </button>
                            </div>
                            <div *ngIf="!isViewShow" class="w-full" id="cancel">
                                <button mat-stroked-button class="w-full" color="warn" (click)="onBack()">
                                    <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:x'"></mat-icon>
                                    Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>