<div class="flex flex-col flex-auto min-w-0">

    <!-- header -->
    <div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-3 pb-4 sm:pt-2 sm:pb-6 sm:px-15 bg-default dark:bg-transparent">
    <div class="flex-1 min-w-0">
        <div>
            <div class="-ml-4">
                <button mat-button [color]="'primary'">
                    <mat-icon [svgIcon]="'heroicons_outline:arrow-narrow-left'"></mat-icon>
                    <span class="ml-2">Back</span>
                </button>
            </div>
        </div>
        <!-- Title -->
        <div class="mt-0">
            <h2 class="text-2xl md:text-2xl font-extrabold tracking-tight leading-7 sm:leading-10 truncate">
                Employee Management
            </h2>
        </div>
    </div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-4 sm:mt-2 sm:ml-2">
            <a class="ml-3" mat-raised-button [color]="'primary'" (click)=" moveToDriverNew()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                Add New Driver
            </a>
            <a class="ml-3" mat-raised-button [color]="'primary'"  (click)="moveToCoordinatorNew()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                Add New Coordinator
            </a>
            <a class="ml-3" mat-flat-button [color]="'primary'" (click)="exportExcel()">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:document-report'"></mat-icon>
                Export
            </a>
        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto -mt-2 p-4 sm:p-6 shadow bg-card">
        <div class="flex flex-col flex-auto overflow-x-auto">
            <div class="flex flex-col flex-auto overflow-hidden">
                <!-- CONTENT GOES HERE -->
                <form class="space-y-3" [formGroup]="supportForm" #supportNgForm="ngForm">
                    <div class="mt-0 grid grid-cols-1 sm:grid-cols-3 gap-4 md:gap-6">
                        <div class="w-full">
                            <mat-form-field class="w-full" [floatLabel]="'always'">
                                <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input placeholder="ID, Station code, First & Last name, phone" matInput [formControlName]="'keyword'" #input />
                            </mat-form-field>
                        </div>
                        <mat-form-field color="primary">
                            <mat-select  [formControlName]="'status'">
                                <mat-option [value]="''">All status</mat-option>
                                <mat-option [value]="'active'">Active</mat-option>
                                <mat-option [value]="'not-active'">Not-Active</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field color="primary">
                            <mat-select  [formControlName]="'employeetype'">
                                <mat-option [value]="''">All kinds of employees</mat-option>
                                <mat-option [value]="'driver'">Driver</mat-option>
                                <mat-option [value]="'coordinator'">Coordinator</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="mt-0 grid grid-cols-1 sm:grid-cols-3 gap-4 md:gap-6">
                        <mat-form-field appearance="fill" class="w-full">
                            <mat-date-range-input [formGroupName]="'range'" [rangePicker]="picker">
                                <input matStartDate [formControlName]="'start'" placeholder="Start date">
                                <input matEndDate [formControlName]="'end'" placeholder="End date">
                            </mat-date-range-input>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                        <div class="w-full">
                            <button mat-flat-button color="primary" class="w-full sm:w-30 h-36px-button" (click)="getEmployees()">
                                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_outline:search'"></mat-icon>
                                Search
                            </button>
                            <button mat-stroked-button color="primary" class="mt-4 md:mt-0 w-50 md:w-auto md:ml-4 h-36px-button" (click)="refresh()">
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_outline:refresh'"></mat-icon>
                            </button>
                        </div>
                    </div>
                </form>
                <div class="flex flex-col mt-4 flex-auto bg-card shadow rounded-2xl overflow-hidden" id="content" #content>
                    <div class="flex flex-col flex-auto overflow-x-auto">
                        <div class="flex items-center text-xl mb-4">
                            <mat-icon class="icon-size-6" [svgIcon]="'heroicons_solid:puzzle'" [color]="'primary'"></mat-icon>
                            <div class="ml-2 font-medium">Emloyee List</div>
                        </div>
                        <table mat-table [dataSource]="dataEmployee"  multiTemplateDataRows class="mat-elevation-z8" id="table">
                            <ng-container matColumnDef="stt">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    STT
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.stt}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="code">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Code
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.code}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="name">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    First & Last Name
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.fullName}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="phone">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Phone Number
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.mobilePhone}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="type">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Employee Type
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div [ngSwitch]="element.employeeType">
                                        <p *ngSwitchCase="'driver'">Driver</p>
                                        <p *ngSwitchCase="'coordinator'">Coordinator</p>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="station">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Station
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.stationCode}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="ismanager">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Station Manager
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div [ngSwitch]="element.isStationAdmin">
                                        <p *ngSwitchCase="true">
                                            <mat-icon class="icon-size-5" color="primary" [svgIcon]="'heroicons_solid:check-circle'"></mat-icon>
                                        </p>
                                        <p *ngSwitchCase="false"></p>
                                        <p *ngSwitchCase=""></p>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="service">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Service
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{element.services}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="datecreate">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Date Create
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    {{convertNumToDate(element.createdAt)}}                                
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Status
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div [ngSwitch]="element.status">
                                        <p *ngSwitchCase="'active'">Active</p>
                                        <p *ngSwitchCase="'not-active'">Inactive</p>
                                    </div>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell class="cgs-table-header" *matHeaderCellDef>
                                    Action
                                </th>
                                <td mat-cell *matCellDef="let element">
                                    <div class="flex items-center">
                                        <button class="mx-auto" mat-icon-button [matTooltip]="element.requestContent" [matTooltipPosition]="'left'" [matMenuTriggerFor]="actionPanel">
                                                    <mat-icon class="icon-size-6 font-bold" [svgIcon]="'heroicons_outline:dots-circle-horizontal'"></mat-icon>
                                                    <mat-menu #actionPanel>
                                                        
                                                        <button mat-menu-item
                                                        [matTooltip]="element.note"
                                                        [matTooltipPosition]="'left'"
                                                        (click)="viewItem(element.code,element.employeeType, $event)"
                                                        >
                                                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:document-report'"></mat-icon>
                                                            View detail
                                                        </button>
                                                        <button mat-menu-item (click)="editItem(element.code,element.employeeType, $event)">
                                                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:cog'"></mat-icon>
                                                            Edit
                                                        </button>
                                                        <button mat-menu-item (click)="updateEmployeeStatus(element.code,'active')">
                                                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:lock-open'"></mat-icon>
                                                            Active
                                                        </button>
                                                        <button mat-menu-item (click)="updateEmployeeStatus(element.code,'not-active')">
                                                            <mat-icon class="icon-size-4" [svgIcon]="'heroicons_outline:lock-closed'"></mat-icon>
                                                            Inactive
                                                        </button>
                                                        <button mat-menu-item (click)="openChangePassword(element.code)">
                                                            <mat-icon
                                                                class="icon-size-4"
                                                                [svgIcon]="'heroicons_outline:key'"
                                                            ></mat-icon>
                                                            Change password
                                                        </button>
                                                    </mat-menu>
                                        </button>
                                    </div>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayCols2"></tr>
                            <tr mat-row *matRowDef="let element; columns: displayCols2" class="cgs-element-row" [class.cgs-expanded-row]="expandedElement === element"></tr>
                            <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="cgs-detail-row"></tr> -->

                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="7">
                                    No data matching the filter. Click 'Search' button to get more items from centers.
                                </td>
                            </tr>
                        </table>
                        <mat-paginator class="flex w-full justify-end" [pageSizeOptions]="[2, 4]" showFirstLastButtons [hidePageSize]="true" #paginator>
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
